.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__fYuVd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox__nzql {
  flex-direction: column;
  display: flex;
}
.freeBox__nzql > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__nzql > :global(.__wab_flex-container) > *,
.freeBox__nzql > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nzql > :global(.__wab_flex-container) > picture > img,
.freeBox__nzql
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.slotTargetName {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--token-NEon4Y--Z);
}
.text__l1FnD {
  font-size: 48px;
}
.freeBox__uNl {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__uNl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__uNl > :global(.__wab_flex-container) > *,
.freeBox__uNl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uNl > :global(.__wab_flex-container) > picture > img,
.freeBox__uNl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.bullet___7RjGy:global(.__wab_instance) {
  position: relative;
}
.bullet__wyxEg:global(.__wab_instance) {
  position: relative;
}
.bullet__sTXa9:global(.__wab_instance) {
  position: relative;
}
.freeBox__kbp7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(13px + 8px) !important;
}
.button__fytDd:global(.__wab_instance) {
  position: relative;
}
.svg__rDo2 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__pEGb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__edtVy {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
