.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__eDYpv {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-PMSRq2WjUk-U);
}
.freeBox__tjPGu {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-8GReIMVXDniT);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__tjPGu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__tjPGu > :global(.__wab_flex-container) > *,
.freeBox__tjPGu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tjPGu > :global(.__wab_flex-container) > picture > img,
.freeBox__tjPGu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tjPGu {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tjPGu > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tjPGu > :global(.__wab_flex-container) > *,
  .freeBox__tjPGu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tjPGu > :global(.__wab_flex-container) > picture > img,
  .freeBox__tjPGu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___7TZdv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 128px;
  flex-shrink: 0;
}
.freeBox___7TZdv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7TZdv > :global(.__wab_flex-container) > *,
.freeBox___7TZdv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7TZdv > :global(.__wab_flex-container) > picture > img,
.freeBox___7TZdv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__lRii8:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__fcowu {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__g9Ufd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__scPur {
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__scPur:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text___2RZzr {
  position: relative;
  font-size: 14px;
  color: var(--token-y41mltDNr6tA);
}
.link___9FHMi {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link___9FHMi:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__fCg12 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__fCg12 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__fCg12 > :global(.__wab_flex-container) > *,
.freeBox__fCg12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fCg12 > :global(.__wab_flex-container) > picture > img,
.freeBox__fCg12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCg12 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCg12 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCg12 > :global(.__wab_flex-container) > *,
  .freeBox__fCg12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fCg12 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fCg12
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__m5QB1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__m5QB1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__m5QB1 > :global(.__wab_flex-container) > *,
.freeBox__m5QB1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m5QB1 > :global(.__wab_flex-container) > picture > img,
.freeBox__m5QB1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__pmBu3 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link___1Horo {
  font-size: 14px;
  position: relative;
  color: var(--token-y41mltDNr6tA);
}
.root .link___1Horo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__hkVhj {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__hkVhj:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rmmWo {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__rmmWo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wsN4K {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__wsN4K:hover {
  color: var(--token-NEon4Y--Z);
}
.link__l4Fpe {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__l4Fpe:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__a9Xrf {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__a9Xrf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__a9Xrf > :global(.__wab_flex-container) > *,
.freeBox__a9Xrf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a9Xrf > :global(.__wab_flex-container) > picture > img,
.freeBox__a9Xrf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__gwdL {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__jMapP {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__jMapP:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ziWfP {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__ziWfP:hover {
  color: var(--token-NEon4Y--Z);
}
.link__umXbv {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__umXbv:hover {
  color: var(--token-NEon4Y--Z);
}
.link__enq3Q {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__enq3Q:hover {
  color: var(--token-NEon4Y--Z);
}
.link__bzBNl {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__bzBNl:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox___2RLd9 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox___2RLd9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___2RLd9 > :global(.__wab_flex-container) > *,
.freeBox___2RLd9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2RLd9 > :global(.__wab_flex-container) > picture > img,
.freeBox___2RLd9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___1Rbba {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__v1Rmb {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__v1Rmb:hover {
  color: var(--token-NEon4Y--Z);
}
.link__pzv2A {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__pzv2A:hover {
  color: var(--token-NEon4Y--Z);
}
.link__trgdg {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__trgdg:hover {
  color: var(--token-NEon4Y--Z);
}
.link__fmoaB {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__fmoaB:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rDbb7 {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__rDbb7:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__hyVjR {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__hyVjR > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hyVjR > :global(.__wab_flex-container) > *,
.freeBox__hyVjR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hyVjR > :global(.__wab_flex-container) > picture > img,
.freeBox__hyVjR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jiGhG {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__eX6Cx {
  position: relative;
  font-size: 14px;
  color: var(--token-y41mltDNr6tA);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__cAyV {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__cigfZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__r36Ck {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__hev5A {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__yKh9B {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-PMSRq2WjUk-U);
}
.freeBox__tvtY3 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-8GReIMVXDniT);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__tvtY3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tvtY3 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tvtY3 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tvtY3 > :global(.__wab_flex-container) > *,
  .freeBox__tvtY3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tvtY3 > :global(.__wab_flex-container) > picture > img,
  .freeBox__tvtY3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___64Dxc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__itHjn {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  height: auto;
  font-size: 14px;
}
.root .link__itHjn:hover {
  text-decoration-line: underline;
}
.link__dlguT {
  position: relative;
  color: var(--token-y41mltDNr6tA);
  font-size: 14px;
}
.root .link__dlguT:hover {
  text-decoration-line: underline;
}
.text___3Onrn {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-y41mltDNr6tA);
}
.freeBox__wnZ9O {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__wnZ9O > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__wnZ9O > :global(.__wab_flex-container) > *,
.freeBox__wnZ9O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wnZ9O > :global(.__wab_flex-container) > picture > img,
.freeBox__wnZ9O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__lshaJ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nFuj {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__nFuj:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__sdKof:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yUvm {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__yUvm:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__ySdjQ:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__iJaZp {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__iJaZp:hover {
  color: var(--token-dph1wZ7NjV9);
}
