.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__gqEFo {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: var(--token-8GReIMVXDniT);
  display: flex;
  min-width: 0;
}
.freeBox__gqEFo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gqEFo > :global(.__wab_flex-container) > *,
.freeBox__gqEFo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gqEFo > :global(.__wab_flex-container) > picture > img,
.freeBox__gqEFo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns___8Jwo3 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___8Jwo3 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns___8Jwo3 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___8Jwo3 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns___8Jwo3 > :global(.__wab_flex-container) > *,
.columns___8Jwo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___8Jwo3 > :global(.__wab_flex-container) > picture > img,
.columns___8Jwo3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Jwo3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Jwo3 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Jwo3 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___8Jwo3 > :global(.__wab_flex-container) > *,
  .columns___8Jwo3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___8Jwo3 > :global(.__wab_flex-container) > picture > img,
  .columns___8Jwo3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__amLx2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__amLx2 {
    width: 100%;
  }
}
.freeBox__ot41E {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__ot41E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__ot41E > :global(.__wab_flex-container) > *,
.freeBox__ot41E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ot41E > :global(.__wab_flex-container) > picture > img,
.freeBox__ot41E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ot41E {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ot41E > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__zyTx8 {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__hol6S {
  position: relative;
  text-align: left;
}
.bullet__nlduR:global(.__wab_instance) {
  position: relative;
}
.bullet__jBmTj:global(.__wab_instance) {
  position: relative;
}
.bullet___2WGnX:global(.__wab_instance) {
  position: relative;
}
.text__nbZv1 {
  position: relative;
  text-align: left;
}
.freeBox__er90P {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__er90P > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__er90P > :global(.__wab_flex-container) > *,
.freeBox__er90P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__er90P > :global(.__wab_flex-container) > picture > img,
.freeBox__er90P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__er90P {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__er90P > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__er90P > :global(.__wab_flex-container) > *,
  .freeBox__er90P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__er90P > :global(.__wab_flex-container) > picture > img,
  .freeBox__er90P
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__ojApU:global(.__wab_instance) {
  position: relative;
}
.svg__pJE {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__cSxzn {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__uOj6L:global(.__wab_instance) {
  position: relative;
}
.svg__lFebZ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__ks190 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__qMf8M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__qMf8M {
    width: 100%;
  }
}
.img__aOw3U {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__aOw3U > picture > img {
  object-fit: cover;
}
.img__aOw3U > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__kMwt0 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__kMwt0 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__kMwt0 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__kMwt0 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__kMwt0 > :global(.__wab_flex-container) > *,
.columns__kMwt0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kMwt0 > :global(.__wab_flex-container) > picture > img,
.columns__kMwt0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kMwt0 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kMwt0 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kMwt0 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kMwt0 > :global(.__wab_flex-container) > *,
  .columns__kMwt0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kMwt0 > :global(.__wab_flex-container) > picture > img,
  .columns__kMwt0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__rgviO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__rgviO {
    width: 100%;
  }
}
.img__ixWo {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__ixWo > picture > img {
  object-fit: cover;
}
.img__ixWo > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__b8HnY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__b8HnY {
    width: 100%;
  }
}
.freeBox__a9LWz {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__a9LWz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__a9LWz > :global(.__wab_flex-container) > *,
.freeBox__a9LWz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__a9LWz > :global(.__wab_flex-container) > picture > img,
.freeBox__a9LWz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a9LWz {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a9LWz > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__cu0Vf {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__cy5Y {
  position: relative;
  text-align: left;
}
.bullet__jcqw4:global(.__wab_instance) {
  position: relative;
}
.bullet__tqGzu:global(.__wab_instance) {
  position: relative;
}
.bullet___2KJpO:global(.__wab_instance) {
  position: relative;
}
.text__rLvgb {
  position: relative;
  text-align: left;
}
.freeBox___8DpxO {
  flex-direction: row;
  display: flex;
  position: relative;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___8DpxO > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___8DpxO > :global(.__wab_flex-container) > *,
.freeBox___8DpxO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8DpxO > :global(.__wab_flex-container) > picture > img,
.freeBox___8DpxO
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8DpxO {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8DpxO > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8DpxO > :global(.__wab_flex-container) > *,
  .freeBox___8DpxO > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___8DpxO > :global(.__wab_flex-container) > picture > img,
  .freeBox___8DpxO
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button___5EbJ:global(.__wab_instance) {
  position: relative;
}
.svg__vc3Q {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__yS8G {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__i4Ob3:global(.__wab_instance) {
  position: relative;
}
.svg__zf8Kc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__tepga {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
